<section class="ticket-details">
	<header>
		<div>TICKET DESCRIPTION</div>
		<button ng-click="enableEditMode()" ng-show="!editMode">EDIT</button>
		<div class="edit-state-btns" ng-show="editMode">
			<button ng-click="updateTicketDetails()">UPDATE</button>
			<button ng-click="disableEditMode()" >CANCEL</button>
		</div>
	</header>
	<section class="ticket-info">
		<div class="subject">
			<div>SUBJECT</div>
			<div ng-show="!editMode">{{ticket.subject}}</div>
			<input type="text" ng-model="editTicket.subject" ng-show="editMode"/>
		</div>
		<div class="ticket-id">
			<div>TICKET ID</div>
			<div ng-bind="ticket.id"></div>
		</div>
		<div class="name">
			<div>CLIENT</div>
			<div ng-bind="ticket.name"></div>
		</div>
		<div class="email">
			<div>EMAIL</div>
			<div ng-bind="ticket.email"></div>
		</div>
		<div class="phone">
			<div>PHONE</div>
			<div ng-bind="ticket.phone"></div>
		</div>
		<div class="status">
			<div>STATUS</div>
			<div ng-show="!editMode">{{ticket.status}}</div>
			<select ng-model="editTicket.status" ng-options="status as status for status in ['open','pending','closed']" ng-show="editMode"></select>
		</div>
		<div class="Description">
			<div>DESCRIPTION</div>
			<div ng-show="!editMode">{{ticket.description}}</div>
			<textarea ng-model="editTicket.description" rows="3" ng-show="editMode"></textarea>
		</div>
		<div class="assignee">
			<div>ASSIGNEE</div>
			<div ng-show="!editMode">{{getAssigneeName(ticket.assignee_id)}}</div>
			<select ng-model="editTicket.assignee_id" ng-options="assignee.id as assignee.name for assignee in assignees" ng-show="editMode"></select>
		</div>
		<div class="date-created">
			<div>DATE UPDATED</div>
			<div>{{updatedAt}}</div>
		</div>
	</section>
</section>