.site-header {
  height: 70px;
  background: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.site-header > div {
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #344050;
  border-bottom: 2px solid #000;
}

.site-header > div a {
  width: 180px;
  text-decoration: none;
  color: #f2f2f2;
  padding: 10px;
}

.site-header .ticket-search-create {
  flex: 0 0 auto;
  height: 100%;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.site-header .ticket-search-create .search-box > input {
  width: 500px;
  height: 100%;
  outline: none;
  height: 40px;
  font-size: 16px;
  border: 0;
}

.site-header .ticket-search-create .search-box > button {
  background-color: #55D169;
  color: #fff;
  font-size: 14px;
  padding: 8px 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

.site-header .ticket-search-create .search-box > button:disabled {
  background-color: #98e9a5;
  cursor: default;
}

.site-header .ticket-search-create > button {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
}

.site-header .ticket-search-create .tag-dropdown {
  width: 100px;
  height: auto;
  position: absolute;
  top: 70px;
  left: 0px;
  background-color: #FBFBFB;
  z-index: 11;
}

.site-header .ticket-search-create .tag-dropdown > a {
  color: #3d3d3d;
  background-color: #F5F5F5;
  width: 200px;
  border: 1px solid #e3e3e3;
  height: 48px;
  line-height: 48px;
  font-size: 15px;
  padding-left: 25px;
  cursor: pointer;
  letter-spacing: .25px;
  display: inline-block;
  outline: 0;
  text-decoration: none;
}

.site-header .ticket-search-create .tag-dropdown > a:hover {
  background-color: #fbfbfb;
}

.black-overlay.active {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
  pointer-events: all;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #2B2B2B;
  background-color: #ECF2F6;
}

body * {
  box-sizing: border-box;
}

.site-content {
  display: flex;
  height: calc(100vh - 70px);
}

.site-content > div:first-of-type {
  flex: 0 0 250px;
}

.site-content > div:last-of-type {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}
.side-menu {
  height: 100%;
  background-color: #344050;
}

.side-menu ul {
  display: flex;
  flex-flow: column nowrap;
  color: #9BA7B8;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.side-menu ul li {
  width: 180px;
  text-align: left;
  padding: 10px;
  margin: 10px 0;
  font-size: 12px;
  cursor: pointer;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}

.side-menu ul li.active,
.side-menu ul li:hover {
  color: #DFDFE1;
  background-color: #000;
}
.ticket-details {
  margin: 30px 50px;
  width: 500px;
  height: auto;
  background-color: #fff;
}

.ticket-details header {
  padding: 25px;
  background-color: #6E7D93;
  color: #F1F3F5;
  font-weight: 900;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ticket-details header button {
  background-color: #1e1e1e;
  padding: 5px 10px;
  font-size: 12px;
  color: #F1F3F5;
  border: 0;
  outline: 0;
  border-radius: 2px;
  cursor: pointer;
}

.ticket-details header button:hover {
  background-color: #000;
}

.ticket-details header .edit-state-btns button:first-of-type {
  margin-right: 10px;
  background-color: #269ABC;
}

.ticket-details header .edit-state-btns button:last-of-type {
  background-color: #EEEEEE;
  color: #1e1e1e;
}

.ticket-details .ticket-info {
  padding: 0 25px;
  color: #8493A6;
}

.ticket-details .ticket-info > div {
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.ticket-details .ticket-info > div > div:first-of-type {
  width: 120px;
  margin-right: 20px;
  font-size: 12px;
  font-weight: 900;
}

.ticket-details .ticket-info > div > div:last-of-type {
  font-size: 12px;
  line-height: 25px;
  flex: 1;
}

.ticket-details .ticket-info > div > input {
  height: 25px;
  font-size: 12px;
  border: 0;
  border: 1px solid #d3d3d3;
  border-radius: 2px;
  outline: 0;
  width: 300px;
}

.ticket-details .ticket-info > div > textarea {
  width: 300px;
  border-radius: 2px;
  outline: 0;
  border: 0;
  border: 1px solid #d3d3d3;
  padding: 5px;
}
.tickets-list {
  width: 800px;
  background-color: #fff;
  border-right: 1px solid #e5e5e5;
  border-radius: 3px;
  margin: 10px auto;
}

.tickets-list .ticket {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  cursor: pointer;
}

.tickets-list .ticket:hover {
  background-color: #f9f9f9;
}

.tickets-list .ticket .status-tag {
  font-size: 14px;
  width: 60px;
  padding: 5px;
  margin-right: 30px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}

.tickets-list .ticket .status-tag.open {
  background-color: #ff4500;
}

.tickets-list .ticket .status-tag.pending {
  background-color: #ff8c00;
}

.tickets-list .ticket .status-tag.closed {
  background-color: #40e0d0;
}

.tickets-list .ticket ng-tag {
  padding: 0 20px 0 5px;
  font-weight: 900;
  width: 40px;
  text-align: left;
}

.tickets-list .ticket ng-tag.major {
  color: #e64949;
}

.tickets-list .ticket ng-tag.critical {
  color: #da0b0b;
}

.tickets-list .ticket ng-tag.minor {
  color: #32CD32;
}

.tickets-list .ticket ng-tag.blocker {
  color: #000;
}

.tickets-list .ticket > div:nth-of-type(2) {
  display: flex;
  flex-flow: column nowrap;
}

.tickets-list .ticket > div:nth-of-type(2) .client {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.tickets-list .ticket > div:nth-of-type(2) .sub-desc {
  width: 450px;
  overflow: hidden;
  white-space: nowrap;
}

.tickets-list .ticket > div:nth-of-type(2) .subject {
  font-size: 15px;
  color: #777;
  margin-right: 10px;
}

.tickets-list .ticket > div:nth-of-type(2) .description {
  font-size: 13px;
  color: #777;
  font-weight: 100;
}

.tickets-list .ticket > div:last-of-type {
  display: flex;
  flex-flow: row nowrap;
  color: #777;
}

.tickets-list .ticket > div:last-of-type .time-elapsed {
  margin-right: 20px;
  line-height: 20px;
  font-size: 14px;
  width: 120px;
}

.tickets-list .ticket > div:last-of-type .ticket-id {
  border: 1px solid #777;
  border-radius: 10px;
  display: inline-block;
  padding: 3px 5px;
  font-size: 10px;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #333;
  margin-top: 50px;
}
.new-ticket-section {
  display: flex;
  padding: 50px 0 20px 50px;
}

.new-ticket-section > form {
  width: auto;
}

.new-ticket-section > form input {
  font-size: 15px;
  outline: 0;
  border: 0;
  border-radius: 4px;
  text-indent: 10px;
  border: 1px solid #e3e3e3;
}

.new-ticket-section > form > section {
  display: flex;
  margin-bottom: 30px;
}

.new-ticket-section > form > section > div:first-of-type {
  width: 100px;
  text-align: right;
  margin-right: 20px;
  line-height: 30px;
}

.new-ticket-section > form .customer-name > div {
  line-height: 30px;
}

.new-ticket-section > form .customer-name > div input {
  width: 300px;
  height: 30px;
}

.new-ticket-section > form .customer-info input {
  width: 300px;
  height: 30px;
}

.new-ticket-section > form .customer-info > div {
  margin-right: 20px;
  line-height: 30px;
}

.new-ticket-section > form .customer-info > div:nth-of-type(3) {
  width: 50px;
}

.new-ticket-section > form .customer-info > div:last-of-type {
  margin-right: 0;
}

.new-ticket-section > form .ticket-type > div:last-of-type {
  display: flex;
  align-items: center;
}

.new-ticket-section > form .ticket-type > div:last-of-type label {
  margin-right: 20px;
  font-weight: 200px;
}

.new-ticket-section > form .ticket-type > div:last-of-type input {
  margin-right: 10px;
}

.new-ticket-section > form .ticket-subject input {
  width: 694px;
  height: 30px;
}

.new-ticket-section > form .ticket-description textarea {
  padding: 5px 10px;
  width: 694px;
  outline: 0;
  border: 0;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
}

.new-ticket-section > form .add-assignee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-ticket-section > form .add-assignee > article {
  display: flex;
}

.new-ticket-section > form .add-assignee > article > div:first-of-type {
  width: 100px;
  text-align: right;
  margin-right: 20px;
  line-height: 30px;
}

.new-ticket-section > form .add-assignee .assignee_list select option {
  font-size: 20px;
}

.new-ticket-section > form .submit-btn {
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
}

.new-ticket-section > form .submit-btn button {
  padding: 10px 15px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.new-ticket-section > form .submit-btn button:first-of-type {
  background-color: #5f9ea0;
}

.new-ticket-section > form .submit-btn button:first-of-type:hover {
  background-color: #5EC7D2;
}

.new-ticket-section > form .submit-btn button:last-of-type {
  background-color: #d25e5e;
}

.new-ticket-section > form .submit-btn button:last-of-type:hover {
  background-color: #98291e;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    width: 150px;
    outline: 0;
  }
}

select::-moz-focus-inner {
  border: 0;
  padding: 0;
}